{% extends 'base.html' %}
    {% block body %}
    
    <div class='each_country'>
    <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="14fbb1c3df4449648c76168ff5c0af55" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_14fbb1c3df4449648c76168ff5c0af55 = echarts.init(
            document.getElementById('14fbb1c3df4449648c76168ff5c0af55'), 'white', {renderer: 'canvas'});
        var option_14fbb1c3df4449648c76168ff5c0af55 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#726930",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u4e1c\u5357\u4e9a",
            "data": [
                "91582",
                "87127",
                "567110",
                "3143",
                "173468",
                "25480",
                "315552",
                "29318",
                "177",
                "152328"
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e1c\u5357\u4e9a"
            ],
            "selected": {
                "\u4e1c\u5357\u4e9a": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "philippines",
                "cambodia",
                "thailand",
                "brunei",
                "vitetnam",
                "laos",
                "malaysia",
                "myanmar",
                "east-timor",
                "indonesia"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Bar-\u4e1c\u5357\u4e9a\u5404\u56fd\u53c2\u89c2\uff08visited\uff09\u6570"
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false
        }
    ]
};
        chart_14fbb1c3df4449648c76168ff5c0af55.setOption(option_14fbb1c3df4449648c76168ff5c0af55);
    </script>
</body>
</html>

    </div>
    <div class='each_country'>
    <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="4807e9ffdf6f41b19d2c0417103cd9da" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_4807e9ffdf6f41b19d2c0417103cd9da = echarts.init(
            document.getElementById('4807e9ffdf6f41b19d2c0417103cd9da'), 'white', {renderer: 'canvas'});
        var option_4807e9ffdf6f41b19d2c0417103cd9da = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#61a0a8",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u4e1c\u5357\u4e9a",
            "data": [
                "1665",
                "1861",
                "9973",
                "58",
                "5706",
                "225",
                "5423",
                "495",
                "5",
                "3052"
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e1c\u5357\u4e9a"
            ],
            "selected": {
                "\u4e1c\u5357\u4e9a": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "philippines",
                "cambodia",
                "thailand",
                "brunei",
                "vitetnam",
                "laos",
                "malaysia",
                "myanmar",
                "east-timor",
                "indonesia"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Bar-\u4e1c\u5357\u4e9a\u5404\u56fd\u666f\u89c2/\u76ee\u7684\u5730\u6570"
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false
        }
    ]
};
        chart_4807e9ffdf6f41b19d2c0417103cd9da.setOption(option_4807e9ffdf6f41b19d2c0417103cd9da);
    </script>
</body>
</html>

    </div>
    <div>
    
<div>
<title>东南亚</title>
<p>东南亚（SEA）位于亚洲东南部，包括中南半岛和马来群岛两大部分。东南亚地区共有11个国家：越南、老挝、柬埔寨、泰国、缅甸、马来西亚、新加坡、印度
尼西亚、文莱、菲律宾、东帝汶，面积约457万平方千米。在此，我们分析东南亚十个国家的旅游景点情况。</p>

<p>由上图可知：东南亚参观数最多的是泰国，其次是马来西亚，第三是越南，第四是印度尼西亚，第五是菲律宾，第六是柬埔寨，第七是缅甸，第八是老挝，第九是
文莱，最少的东帝汶。</p>
<p>景观数最多的依旧是泰国，其次是越南，第三是马来西亚，第四是印度尼西亚，第五是柬埔寨，第六是菲律宾，第七是缅甸，第八是老挝，第九
是文莱，最少的还是东帝汶。</p>
</div>

    </div>
    
    {% endblock %}
    